# Database
DB_DSN=

# Server
SERVER_PORT=

# GitHub
GITHUB_TOKEN=

# Mailer
MAILER_HOST=smtp.example.com
MAILER_PORT=587
MAILER_USERNAME=your_email@example.com
MAILER_FROM=noreply@example.com
MAILER_SMTP=smtp.example.com
MAILER_PASSWORD=your_email_password

# Cron
CRON_REPO_CHECK_SCHEDULE=0 * * * *