# -- Backend (app) --------------------------------------
# Database connection string (use your hosted DB host/port)
DB_DSN=host=postgres user=postgres password=postgres dbname=gh-subscriptions port=5432 sslmode=disable

# Server
SERVER_PORT=8080
SERVER_API_KEY=your_api_key_here

# GitHub
GITHUB_TOKEN=your_github_token

# Mailer
MAILER_HOST=smtp.example.com
MAILER_PORT=587
MAILER_USERNAME=your_email@example.com
MAILER_FROM=noreply@example.com
MAILER_SMTP=smtp.example.com
MAILER_PASSWORD=your_email_password

# Cron
CRON_REPO_CHECK_SCHEDULE=0 * * * *

# -- Postgres container ---------------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gh-subscriptions
POSTGRES_APP_USER=postgres
POSTGRES_APP_PASSWORD=postgres
